body {
	background: url(../images/map7.jpg);
	background-size: cover;
	z-index: -99;
	text-align: center;
	color: black;
}

h2, h3, h4 {
	color: black;
}

.wrapper {
	width: 80%;
	padding: 20px;
	margin: auto;
	margin-top: 50px;
}

.well {
	width: 80%;
	margin: auto;
}

.btn-guess {
	width: 100%;
}

.jumbotron {
	border-radius: 10px;
	background-color: #ABC8E5;
	border: solid black 3px;
	padding: 20px;
}

#gameBlock {
	display: none;
}

#buttonBox {
	display: none;
}

#resultBox {
	display: none;
}

#scoreBox {
	display: none;
}